<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Classic Bluetooth (RFCOMM/SPP) to the earbuds themselves, not BLE. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="true" />

</manifest>
